@model IEnumerable<MovieApp.Models.TvShow>

@{
    ViewBag.Title = "Index";
}

<h2>Top 10 rated TvShows</h2>
<a class="popup btn btn-primary" href="/Tvshows/Create/0" style="margin-bottom:20px; margin-top:20px;">Add New TvShow</a>
<table id="tvshow_table" class="display table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Cover Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Release Date
            </th>
            <th>
                Details
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>

</table>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css">
@section scripts{
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://momentjs.com/downloads/moment.js"></script>
    <script>
        $(document).ready(function () {
            $('#tvshow_table').DataTable({
                "ajax": {
                    "url": "/TvShows/Loaddata",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [

                    { "data": "Title", },
                    {
                        "data": "TvCoverImg",
                        "render": function (data, type, row) {
                            return '<img src="' + data + '" style="height:130px;width:130px;" />';
                        }
                    },
                    { "data": "Description", },
                    {
                        "data": "Release_date",
                        "render": function (data) {
                            if (data === null) return "";
                            return moment(data).format('YYYY/MM/DD');
                        }
                    },
                    {
                        "data": "TvShow_ID", "width": "50px", "render": function (data) {
                            return '<a class="popup" href="/Tvshows/Details/' + data + '">Details</a>';
                        }
                    },
                    {
                        "data": "TvShow_ID", "width": "50px", "render": function (data) {
                            return '<a class="popup" href="/TvShows/Delete/' + data + '">Delete</a>';
                        }
                    }
                ]
            });
        });
    </script>
}